@font-face {
  font-family: "gotham-rounded-bold";
  src: url("../public/fonts/Gotham-Rounded-Font/GothamRoundedBold.otf");
}

@font-face {
  font-family: "gotham-rounded-light";
  src: url("../public/fonts/Gotham-Rounded-Font/GothamRoundedLight.otf");
}

@font-face {
  font-family: "gotham-rounded-light-italic";
  src: url("../public/fonts/Gotham-Rounded-Font/GothamRoundedLightItalic.otf");
}

@font-face {
  font-family: "gotham-rounded-medium-italic";
  src: url("../public/fonts/Gotham-Rounded-Font/GothamRoundedMediumItalic.otf");
}

@font-face {
  font-family: "gotham-rounded-medium";
  src: url("../public/fonts/Gotham-Rounded-Font/GothamRoundedMedium.otf");
}

body {
  font-family: "gotham-rounded-medium";
  color: rgb(224, 224, 224);
}

.error-text {
  color: rgb(200, 0, 0);
  font-size: 14px;
  line-height: 1.5;
}

.invalid {
  border: 1px solid rgb(200, 0, 0);
}